
head
    title=title
body   
    h1 Your Problem is Registered Successfully Registered
    h2 #{b}
    ul
        each item in l
            - var roomno="Room no"+item.roomno
            - var details="Details"+item.detail
            - var imageurl="imageurl"+item.imgurl
            - var lol2 = item.imgurl
            - var lol3 = "uploads/"+item.imgurl
            - var lol = {"src" : lol3}
            li=roomno+"\n"+details+"\n"+imageurl
            li
                img&attributes(lol)