    doctype html 
    html
        head
            title=title
            //- link(rel='stylesheet', href='/styles/style.css')
            //- meta(name='viewport' content='windth=device-width, initial-scale=1')
        body
            .wrap
                        h1 Your Problem is Registered Successfully Registered 
                        h3 pug's in the house
        //- script(src='js/script.js')