head
    title=title
body   
    h1 Your Problem is Registered Successfully Registered
    h2 #{b}
    ul
        each item in l
            - var roomno="Room no"+"\n"+item.roomno
            - var details="Details"+"\n"+item.detail
            - var imageurl="imageurl"+"\n"+item.imgurl
            - var issues="issues"+"\n"+item.issues 
            - var lol2 = item.imgurl
            - var lol3 = "uploads/"+item.imgurl
            - var lol = {"src" : lol3}            
                li=roomno+"\n"+details+"\n"+issues
                li
                    img&attributes(lol)